body {
    background-color:#F5C6EC;
  }
header {
  background-color:whitesmoke;
  border: 1px solid black;
  text-align: left;
  padding: 30px;
  vertical-align: middle;
}
.content {
  display: inline-block;
  vertical-align: top;
  }

  .nav {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding: 1%;

  }
ul {
width: 50%;
margin-left: auto;

  }
.logo {
  width: 23%;
  padding: 1%;
}

footer {
  background-color:whitesmoke;
  border: 1px solid black;
  text-align: left;
  padding: 30px;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.heroImage {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.left {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;

}
.flexContainer {
display: flex;

}

.myDiv {
display: flex;
}
