  body {
    background-color: lightblue;
  }
 
header {
  background-color:whitesmoke;
  border: 1px solid black;
  text-align: left;
}
.logo {
  width: 23%;
  padding: 1%;
}
.nav {
  width: 69%;
  padding: 1%;
}
footer {
  background-color:whitesmoke;
  border: 1px solid black;
  text-align: left;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.heroImage {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.left {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}
container {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  width: 33%;
  margin: 50px;
  }

#workGrid {
  display: grid;
  flex-direction: row;
 justify-content: left;
border: 5px solid black;
}




 
